[Unit]
Description=Commit Proxmox VE network changes
DefaultDependencies=no
After=local-fs.target
Before=sysinit.target

[Service]
ExecStartPre=-/bin/rm -f /etc/openvswitch/conf.db
ExecStartPre=-/bin/mv /etc/network/interfaces.new /etc/network/interfaces
ExecStart=/bin/true
Type=oneshot
RemainAfterExit=yes


[Install]
WantedBy=sysinit.target

