[Unit]
Description=PVE Status Daemon
ConditionPathExists=/usr/bin/pvestatd
Wants=pve-cluster.service
After=pve-cluster.service pvenetcommit.service

[Service]
ExecStart=/usr/bin/pvestatd start
ExecStop=/usr/bin/pvestatd stop
ExecReload=/usr/bin/pvestatd restart
PIDFile=/run/pvestatd.pid
Type=forking

[Install]
WantedBy=multi-user.target
