[Unit]
Description=Proxmox VE replication runner
ConditionPathExists=/usr/bin/pvesr
After=pve-cluster.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pvesr run --mail 1
