Source: pve-manager
Section: admin
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libapt-pkg-perl,
               libfile-readbackwards-perl,
               libhttp-daemon-perl,
               libpod-parser-perl,
               libproxmox-acme-perl,
               libproxmox-rs-perl (>= 0.3.4),
               libpve-access-control (>= 8.0.7),
               libpve-cluster-api-perl,
               libpve-cluster-perl (>= 6.1-6),
               libpve-common-perl (>= 9.0.4),
               libpve-guest-common-perl (>= 5.1.1),
               libpve-http-server-perl (>= 2.0-12),
               libpve-notify-perl,
               libpve-rs-perl (>= 0.8.10),
               libpve-storage-perl (>= 8.3.5),
               libtemplate-perl,
               libtest-mockmodule-perl,
               lintian,
               proxmox-biome,
               proxmox-widget-toolkit (>= 4.1.4),
               pve-cluster,
               pve-container,
               pve-doc-generator (>= 9.0.5),
               qemu-server (>= 9.0.10~~),
               sq,
               unzip,
Rules-Requires-Root: binary-targets
Standards-Version: 4.6.1
Maintainer: Proxmox Support Team <support@proxmox.com>

Package: pve-manager
Section: admin
Priority: optional
Architecture: all
Depends: apt (>= 1.5~),
         ca-certificates,
         cstream,
         dtach,
         fonts-font-awesome,
         fonts-font-logos,
         gdisk,
         hdparm,
         ifupdown2 (>= 3.0) | ifenslave (>= 2.6),
         libapt-pkg-perl,
         libcrypt-ssleay-perl,
         libfile-readbackwards-perl,
         libfilesys-df-perl,
         libjs-extjs (>= 7.0.0),
         libjs-qrcodejs (>= 1.20201119),
         libjs-sencha-touch,
         libjson-perl,
         liblwp-protocol-https-perl,
         libnet-dns-perl,
         libproxmox-acme-perl,
         libproxmox-acme-plugins,
         libproxmox-rs-perl (>= 0.4~),
         libpve-access-control (>= 9.0.3),
         libpve-cluster-api-perl (>= 7.0-5),
         libpve-cluster-perl (>= 8.1.0),
         libpve-common-perl (>= 9.0.8),
         libpve-guest-common-perl (>= 5.1.4),
         libpve-http-server-perl (>= 6.0.3),
         libpve-network-api-perl (>= 1.1~),
         libpve-network-perl (>= 1.1~),
         libpve-notify-perl (>= 8.1.0),
         libpve-rs-perl (>= 0.10.4),
         libpve-storage-perl (>= 9.0.5),
         librados2-perl (>= 1.3-1),
         libtemplate-perl,
         libterm-readline-gnu-perl,
         liburi-perl,
         libuuid-perl,
         libwww-perl (>= 6.04-1),
         logrotate,
         lzop,
         novnc-pve (>= 1.2.0-2~),
         pciutils,
         perl (>= 5.10.0-19),
         postfix | mail-transport-agent,
         proxmox-mail-forward,
         proxmox-mini-journalreader (>= 1.3-1),
         proxmox-rrd-migration-tool (>= 1.0.0),
         proxmox-widget-toolkit (>= 5.0.2),
         pve-cluster (>= 9.0.1),
         pve-container (>= 5.2.5),
         pve-docs (>= 9.0.5),
         pve-firewall,
         pve-ha-manager (>= 5.0.2),
         pve-i18n (>= 3.2.0~),
         pve-xtermjs (>= 4.7.0-1),
         qemu-server (>= 9.0.10),
         rsync,
         spiceterm,
         sqv,
         systemd,
         vncterm,
         wget,
         zstd,
         ${misc:Depends},
         ${perl:Depends},
Recommends: proxmox-firewall,
            proxmox-offline-mirror-helper,
            pve-nvidia-vgpu-helper,
            pve-yew-mobile-gui (>= 0.4.0),
Conflicts: vlan, vzdump,
Replaces: vlan, vzdump,
Provides: vlan, vzdump,
Breaks: libpve-network-perl (<< 0.5-1),
Description: Proxmox Virtual Environment Management Tools
 This package contains the Proxmox Virtual Environment management tools.
