Source: pve-manager
Section: admin
Priority: optional
Build-Depends: liblocale-po-perl,
Maintainer: Proxmox Support Team <support@proxmox.com>

Package: pve-manager
Section: admin
Priority: optional
Architecture: any
Depends: apt-transport-https,
         ca-certificates,
         cstream,
         debconf (>= 0.5) | debconf-2.0,
         dtach,
         fonts-font-awesome,
         gdisk,
         hdparm,
         ifenslave (>= 2.6),
         libapt-pkg-perl,
         libauthen-pam-perl,
         libc6 (>= 2.14),
         libcrypt-ssleay-perl,
         libev-perl,
         libfile-readbackwards-perl,
         libfile-sync-perl,
         libfilesys-df-perl,
         libhttp-daemon-perl,
         libintl-perl,
         libio-socket-ssl-perl,
         libjs-extjs (>= 6.0.1),
         libjson-perl,
         liblinux-inotify2-perl,
         liblockfile-simple-perl,
         liblwp-protocol-https-perl,
         libnet-dns-perl,
         libnet-http-perl (>= 6.06-1),
         libpve-access-control (>= 5.0-7),
         libpve-common-perl (>= 5.0-19),
         libpve-guest-common-perl (>= 2.0-14),
         libpve-http-server-perl,
         libpve-storage-perl (>= 5.0-17),
         librados2-perl,
         libtemplate-perl,
         libterm-readline-gnu-perl,
         libtimedate-perl,
         liburi-perl,
         libuuid-perl,
         libwww-perl (>= 6.04-1),
         libxml-parser-perl,
         logrotate,
         lsb-base,
         lzop,
         netcat-traditional,
         novnc-pve,
         perl (>= 5.10.0-19),
         postfix | mail-transport-agent,
         pve-cluster (>= 5.0-17),
         pve-container,
         pve-docs,
         pve-firewall,
         pve-ha-manager,
         pve-xtermjs (>= 0.1-1),
         qemu-server (>= 1.1-1),
         rsync,
         spiceterm,
         systemd,
         vncterm,
         wget,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Conflicts: netcat-openbsd,
           vlan,
           vzdump,
Replaces: vlan,
          vzdump,
Provides: vlan,
          vzdump,
Description: Proxmox Virtual Environment Management Tools
 This package contains the Proxmox Virtual Environment management tools.
