Source: pve-manager
Section: admin
Priority: optional
Build-Depends: debhelper (>= 12~),
               libapt-pkg-perl,
               libfile-readbackwards-perl,
               libhttp-daemon-perl,
               liblocale-po-perl,
               libpod-parser-perl,
               libproxmox-acme-perl,
               libpve-access-control (>= 7.0-2),
               libpve-cluster-api-perl,
               libpve-cluster-perl (>= 6.1-6),
               libpve-common-perl,
               libpve-guest-common-perl (>= 4.0-2~),
               libpve-http-server-perl (>= 2.0-12),
               libpve-rs-perl (>= 0.2.2),
               libpve-storage-perl (>= 6.3-2),
               libtemplate-perl,
               libtest-mockmodule-perl,
               lintian,
               pve-cluster,
               pve-container,
               pve-doc-generator (>= 7.0-3),
               pve-eslint,
               qemu-server (>= 6.0-15),
               unzip,
Maintainer: Proxmox Support Team <support@proxmox.com>

Package: pve-manager
Section: admin
Priority: optional
Architecture: any
Depends: apt-transport-https | apt (>= 1.5~),
         ca-certificates,
         cstream,
         dtach,
         fonts-font-awesome,
         gdisk,
         hdparm,
         ifupdown2 (>= 2.0.1-1+pve8) | ifenslave (>= 2.6),
         libapt-pkg-perl,
         libc6 (>= 2.14),
         libcrypt-ssleay-perl,
         libfile-readbackwards-perl,
         libfilesys-df-perl,
         libjs-extjs (>= 6.0.1),
         libjson-perl,
         liblwp-protocol-https-perl,
         libnet-dns-perl,
         libproxmox-acme-perl,
         libpve-access-control (>= 7.0-2),
         libpve-cluster-api-perl,
         libpve-cluster-perl (>= 6.1-6),
         libpve-common-perl (>= 7.0-2),
         libpve-guest-common-perl (>= 4.0-2),
         libpve-http-server-perl (>= 3.2-1),
         libpve-rs-perl (>= 0.2.2),
         libpve-storage-perl (>= 7.0-4),
         librados2-perl,
         libtemplate-perl,
         libterm-readline-gnu-perl,
         liburi-perl,
         libuuid-perl,
         libwww-perl (>= 6.04-1),
         logrotate,
         lsb-base,
         lzop,
         zstd,
         novnc-pve (>= 1.2.0-2~),
         pciutils,
         perl (>= 5.10.0-19),
         postfix | mail-transport-agent,
         proxmox-mini-journalreader,
         proxmox-widget-toolkit (>= 3.2-1),
         pve-cluster (>= 6.0-4),
         pve-container (>= 2.0-21),
         pve-docs,
         pve-firewall,
         pve-ha-manager,
         pve-i18n (>= 1.0-3),
         pve-xtermjs (>= 4.7.0-1),
         qemu-server (>= 6.2-17),
         rsync,
         spiceterm,
         systemd,
         vncterm,
         wget,
         ${misc:Depends},
         ${perl:Depends},
         ${shlibs:Depends},
Suggests: libpve-network-perl (>= 0.5-1)
Conflicts: vlan,
           vzdump,
Replaces: vlan,
          vzdump,
Provides: vlan,
          vzdump,
Breaks: libpve-network-perl (<< 0.5-1)
Description: Proxmox Virtual Environment Management Tools
 This package contains the Proxmox Virtual Environment management tools.
