#!/usr/bin/make -f

override_dh_compress:
	dh_compress -Xaplinfo.dat

override_dh_strip_nondeterminism:
	dh_strip_nondeterminism -X.png

override_dh_fixperms:
	dh_fixperms -Xpvemailforward -Xvar/log/pveproxy

%:
	dh $@
