/* overwrite to use full black for enabled buttons */
.x-btn-inner-default-toolbar-small {
    font: 300 12px/16px helvetica, arial, verdana, sans-serif;
    color: #000;
    padding: 0 5px;
    max-width: 100%;
}

/* add missing class for context menu header */
.x-menu-header {
    font: 400 13px/20px 'Open Sans', 'Helvetica Neue', helvetica, arial, verdana, sans-serif;
    color: #fff;
    padding: 4px;
    background-color: #3892d4;
}

/* make the upper window end visible */
.x-css-shadow {
    box-shadow: rgb(136,136,136) 0px -1px 15px !important;
}

/* reduce tree space */
.x-grid-cell-inner-treecolumn { /* vertical padding */
    padding: 4px 0px 3px 0px;
}

/* horizontal distance between parent and child leaf */
.x-tree-elbow-img {
    width: 14px;
}

/* adjust horizontal position of menu icons */
.x-menu-item-icon-default {
    top: 5px;
    left: 3px;
    font-size: 14px;
}

/* this gives a better placement for the font-awesome icons */
.x-btn-icon-el-default-toolbar-small {
    height: 14px;
}

/* this icon looks weird in sizes not n*14px */
.x-btn-icon-el-default-toolbar-small.fa-ellipsis-v {
    font-size: 14px;
}

.x-btn-icon-el-default-small {
    height: 14px;
    font-size: 14px;
}

/* icons for tree/snapshots/menus/etc.. */

/* overwrite folder icons of theme */
.x-tree-icon-parent,
.x-tree-icon-parent-expanded {
    background: none;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1.25em;
    line-height: 1.6em;
    color: #555;
    margin-right: 5px;
}

.x-tree-icon-parent:not(.x-tree-icon-custom):before {
   content: "\f114";
}

.x-tree-icon-parent-expanded:not(.x-tree-icon-custom):before {
    content: "\f115";
}

/* loading in task list */
.x-grid-row-loading {
    background: no-repeat center center;
    background-image:url(../ext6/theme-crisp/resources/images/loadmask/loading.gif);
}

/* console icon in task list */
.x-grid-row-console {
    background: no-repeat center center;
    background-image:url(../images/icon-display.png);
}

/* for font-awesome colors */
/* tree icons */

/* big symbols */
.x-fa-tree,
.x-fa-tree-running,
.x-fa-tree-stopped,
.x-fa-tree-paused,
.x-fa-tree-online,
.x-fa-tree-offline,
.x-fa-tree-template-lxc,
.x-fa-tree-template-qemu,
.x-fa-tree-datacenter {
    font-size: 1.25em;
    line-height: 1.6em;
    color: #555;
    margin-right: 5px;
}

/* grid icons (resources, etc) */
.x-fa-grid,
.x-fa-grid-running,
.x-fa-grid-stopped,
.x-fa-grid-paused,
.x-fa-grid-online,
.x-fa-grid-offline,
.x-fa-grid-template-lxc,
.x-fa-grid-template-qemu {
    font-size: 1.25em;
    color: #555;
    margin-right: 5px;
}

/* the running vms are darker */
.x-fa-tree-running,
.x-fa-grid-running {
    color: #000;
}

/* the small icons */
.x-fa-tree-running:after,
.x-fa-tree-stopped:after,
.x-fa-tree-paused:after,
.x-fa-tree-template-lxc:after,
.x-fa-tree-template-qemu:after,
.x-fa-tree-online:after,
.x-fa-tree-offline:after,
.x-fa-grid:after,
.x-fa-grid-running:after,
.x-fa-grid-stopped:after,
.x-fa-grid-paused:after,
.x-fa-grid-online:after,
.x-fa-grid-offline:after,
.x-fa-grid-template-lxc:after,
.x-fa-grid-template-qemu:after {
    position: relative;
    left: -5px;
    top: 1px;
    font-size: 0.75em;
    text-shadow: -1px 0px 2px #fff;
    content: "\ ";
}

.x-fa-tree-online:after,
.x-fa-grid-online:after {
    content: "\f058";
    color: #009828;
}

.x-fa-tree-offline:after,
.x-fa-grid-offline:after {
    content: "\f057";
    color: #CC1800;
}

.x-fa-tree-running:after,
.x-fa-grid-running:after {
    content: "\f04b";
    color: #009828;
}

.x-fa-tree-paused:after,
.x-fa-grid-paused:after {
    content: "\f04c";
    color: #CC8E00;
    font-size: 0.6em;
}

.x-fa-tree-stopped,
.x-fa-grid-stopped,
.x-fa-tree-offline,
.x-fa-grid-offline {
    color: #cfcfcf;
}

/*
.x-fa-tree-stopped:after {
  content: "\f04d";
  color: #f5c5c5;
  font-size: 0.5em;
}
*/

.x-fa-tree-template-lxc:after,
.x-fa-grid-template-lxc:after {
    content: "\f1b2";
    background: #fff;
}


.x-fa-tree-template-qemu:after,
.x-fa-grid-template-qemu:after {
    content : "\f108";
    background: #fff;
}

.x-grid-item-over
.x-fa-tree-template-qemu:after,
.x-grid-item-over
.x-fa-tree-template-lxc:after,
.x-grid-item-over
.x-fa-grid-template-qemu:after,
.x-grid-item-over
.x-fa-grid-template-lxc:after {
    background-color: #e2eff9;
    text-shadow: -1px 0px 2px #e2eff9;
}

.x-grid-item-selected
.x-fa-tree-template-qemu:after,
.x-grid-item-selected
.x-fa-tree-template-lxc:after,
.x-grid-item-selected
.x-fa-grid-template-qemu:after,
.x-grid-item-selected
.x-fa-grid-template-lxc:after {
    background-color: #c2ddf2;
    text-shadow: -1px 0px 2px #c2ddf2;
}

.pve-itype-icon-virt-viewer,
.pve-itype-icon-tigervnc,
.pve-itype-icon-novnc,
.pve-itype-icon-display,
.pve-itype-icon-memory,
.pve-itype-icon-processor,
.pve-itype-icon-network,
.pve-itype-icon-network-server,
.pve-itype-icon-keyboard,
.pve-itype-icon-cdrom,
.pve-itype-icon-qemu,
.pve-itype-icon-qemu-template,
.pve-itype-icon-qemu-running,
.pve-itype-icon-lxc,
.pve-itype-icon-lxc-template,
.pve-itype-icon-lxc-running,
.pve-itype-icon-swap,
.pve-itype-icon-node,
.pve-itype-icon-node-running,
.pve-itype-icon-storage,
.pve-itype-icon-pool,
.pve-itype-icon-itype
{
    background-repeat: no-repeat;
    background-position:3px center;
    padding-left: 20px;
}

.pve-itype-icon-qemu,
.x-tree-node-computer,
.x-grid-tree-node-expanded .x-tree-node-computer
{
    background-image:url(../images/icon-display.png);
}

.pve-itype-icon-lxc,
.x-tree-node-lxc,
.x-grid-tree-node-expanded .x-tree-node-lxc
{
    background-image:url(../images/lxc-off.png);
}

.pve-itype-icon-swap,
.x-tree-node-lxc-swap,
.x-grid-tree-node-expanded .x-tree-lxc-swap
{
    background-image:url(../images/icon-swap.png);
}

.pve-itype-icon-lxc-running,
.x-tree-node-lxc-running,
.x-grid-tree-node-expanded .x-tree-node-lxc-running
{
    background-image:url(../images/lxc-on.png);
}

.pve-itype-icon-storage,
.x-tree-node-harddisk,
.x-grid-tree-node-expanded .x-tree-node-harddisk
{
    background-image:url(../images/icon-harddisk.png);
}

.x-tree-node-snapshot,
.x-grid-tree-node-expanded .x-tree-node-snapshot
{
    background-image:url(../images/snapshot.png);
}

.pve-itype-icon-itype
{
    background-image:url(../ext6/theme-classic/resources/images/tree/folder.gif);
}

.pve-itype-icon-network-server
{
    background-image:url(../images/network-server.png);
}

.pve-itype-icon-network
{
    background-image:url(../images/icon-network.png);
}

.pve-itype-icon-keyboard
{
    background-image:url(../images/icon-keyboard.png);
}

.pve-itype-icon-cdrom
{
    background-image:url(../images/icon-cd.png);
}

.pve-itype-icon-memory
{
    background-image:url(../images/icon-ram.png);
}

.pve-itype-icon-processor
{
    background-image:url(../images/icon-cpu.png);
}

.pve-itype-icon-display
{
    background-image:url(../images/icon-display.png);
}

.pve-itype-icon-tigervnc
{
    background-image:url(../images/tigervnc.png);
}

.pve-itype-icon-novnc
{
    background-image:url(../images/novnc.png);
}

.pve-itype-icon-virt-viewer
{
    background-image:url(../images/virt-viewer.png);
}


/* displayfield minheight is wrong */
.x-form-display-field-default {
    min-height: 20px;
}

.x-button-reset:before {
    font-size: 16px;
}

/* for resetcolumnsbutton */
.x-button-reset:after{
    content: "\f0e7 ";
    position: relative;
    text-shadow: 0 0 2px #fff;
    left: -3px;
    top: 2px;
}

.pve-help-button .x-btn-inner {
    color: black;
}

/* for info widget */
div.left-aligned {
    float: left;
}

div.right-aligned {
    float: right;
}

.x-progress.critical .x-progress-bar{
    background-color: #FF8888;
}

.x-progress.warning .x-progress-bar{
    background-color: #FFCC00;
}

.x-treelist-nav {
    background-color: #f5f5f5;
}

.x-treelist-row {
    margin-top: 5px;
}

.x-treelist-item-icon {
    color: #000;
    margin-left: 2px;
}

.x-treelist-item-text {
    color: #000;
    padding-left: 5px;
    padding-right: 5px;
}

.fa-ceph:before {
    width: 14px;
    height: 14px;
    position: absolute;
    left: 1px;
    top: 4px;
    background-image:url(../images/logo-ceph.png);
    background-size: 14px 14px;
    content: ' ';
}

.x-treelist-row-over > * > .x-treelist-item-icon,
.x-treelist-row-over > * > .x-treelist-item-text{
    color: #000;
}
