/* Force smaller tree padding */
.x-grid-cell-inner-treecolumn { /* horizontal padding */
    padding: 1px 0px;
}

.x-tree-elbow-img { /* vertical padding */
    width: 10px;
}

/* no big paddings on small buttons */
.x-btn-default-small {
    padding: 3px;
}

.x-tab-default-top {
    padding: 4px;
   /* some button depth, not really pretty yet, though,
      make better for release! */
    background-color: rgba(135, 188, 235, 0.5);
}

/* no big paddings on start/stop ... buttons */
.x-btn-default-toolbar-small {
    padding: 3px;
}

.x-toolbar-default {
    padding: 4px 0px 4px 8px;
}

/*
 no space above tabs, this could actually be
 undesired if we want big buttons (mobile devices, ...)
*/
.x-tab-bar-horizontal > .x-tab-bar-body-default {
    min-height: 27px;
}
.x-tab-bar-default-top > .x-tab-bar-body-default {
    padding: 0px 6px;
}

.x-panel-header-default-horizontal.x-header-noborder {
    padding: 6px 10px;
}

/* Make the optional titlebar under the tab row smaller */
.x-window-header-default-top {
    padding: 5px 10px;
}

.x-window-header-title-default {
    font-size: 14px;
}

/* Stronger weight on enabled buttons */
.x-btn-inner-default-toolbar-small {
    color: #000;
}

/* make the search field smaller */
.x-form-text-default {
    min-height: unset;
    font-size: 12px;
}

/* form field with arrows needs some hack so that others are not affected*/
.x-form-trigger-default {
    font-size: 12px;
}

/* drop down items */
.x-boundlist-item {
    padding: 0px 8px;
    font-size: 12px;
}

/* let grid cells heigh as they are */
.x-grid-cell-inner {
    line-height: inherit;
    padding: 2px 6px;
}

.x-column-header-inner {
    padding: 4px 6px;
}

/* fixes no space from top in the login form */
.x-panel-body-default-framed {
    padding-top: 8px;
}
